<h1>New Sale</h1>

<h3>Select type of Sale</h3>

<div class="row">
  <div class="sixteen wide column field">
    <div class="ui mini horizontal list">
      <% @sale_types.each do |type| %>
        <div class="item" style="margin-left: auto">
          <%= link_to type.name, sales_type_new_path(type), method: :get, class: "ui primary basic button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>